$mediaWidthMobile: 360px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;


//Font family
$mainFont: 'Roboto', sans-serif;


//Size fonts
$defaultFontSize: 14px;
$defaultH1Size: 1.71rem;
$defaultH2Size: 1/14rem;
$defaultSmallFontSize: 0.85rem;

//Colors
$black: #23242A;
$white: #F7F8FC;
$green: #22B646;
$yellow: #FFC700;
$blue: #3751FF;
$red: #FF7C53;
$titleColor: #9FA2B4;
$iconColor: #C5C7CD;
$drayDevider: #DFE0EB;
$gray: #A4A6B3;
$gray1: #D9DAE1;
$gray2: #E8EAF0;
$gray3: #F7F8FF;


.vue-treeselect__option[data-id="hidden"] {
  display: none !important;
}